#searchInput {
  color: #202020;
  caret-color: #00ffff;
}

@media screen and (max-width: 600px) {
  #searchInput {
    font-size: 0.8rem;
  }

  #searchButton {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 600px) {
  #searchInput {
    font-size: 1rem;
  }

  #searchButton {
    font-size: 1rem;
  }
}

@media screen and (min-width: 900px) {
  #searchInput {
    font-size: 1.25rem;
  }

  #searchButton {
    font-size: 1.25rem;
  }
}
