body {
  cursor: url("./assets/icons/cursor.png"), auto;
}

a:hover,
button > svg,
button:hover {
  cursor: url("./assets/icons/pointer.png"), auto;
}

a:active,
button:active,
button > svg:active {
  cursor: url("./assets/icons/pointer-click.png"), pointer;
}

input {
  cursor: url("./assets/icons/pointer.png"), pointer;
}

input:active {
  cursor: url("./assets/icons/pointer-click.png"), pointer;
}

li > p {
  cursor: url("./assets/icons/pointer.png"), pointer;
}

li > p:active {
  cursor: url("./assets/icons/pointer-click.png"), pointer;
}
